html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: #2E3440;
    box-shadow: 0 10px 20px #D8DEE9;
    font-family: 'Mukta', sans-serif;
}

.navbar__logo__name {
    color: #FFF;
    transition: color 0.3s;
    font-weight: 400;
    font-size: 20px;
}

.navbar__logo__name__sign {
    color: #FFF;
    display: inline-block;
}

.navbar__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    transition: color 0.3s;
}

.navbar__logo__img-container {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1.5rem;
    background: #81A1C1;
}

.navbar__logo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__item {
    margin-right: 1.5rem;
}

.navbar__link {
    text-decoration: none;
    text-align: justify;
    color: #FFF;
    transition: color 0.3s;
    font-size: 20px;
    font-weight: 400;
}

.navbar__link:hover {
    color: #BBDEFB;
}

.navbar__logo__name:hover {
    color: #BBDEFB
}

.navbar__menu-icon {
    display: none;
}

.navbar__menu-icon__toggle {
    display: none;
}

.home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: 'Mukta', sans-serif;
}

.home-main__content {
    text-align: center;
    margin-top: 5rem;
}

.home-main__header {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #333;

}

.home-main__header-name {
    display: inline-block;
    animation: moveCharacters 3s ease-in-out infinite;
    color: #0062b9;
}

@keyframes moveCharacters {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(10px);
    }
}

.home-main__paragraph {
    font-size: 1.2rem;
    text-align: justify;
    color: #555;
    margin-bottom: 4rem;
    max-width: 60rem;
}

.home-main__link-button {
    padding: 0.8rem 2rem;
    background-color: #2E3440;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.home-main__link-button:hover {
    background-color: #3B4252;
    animation: glowing 2s ease-in-out infinite;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #fff;
    }

    50% {
        box-shadow: 0 0 20px #fff, 0 0 40px #0af, 0 0 60px #0af;
    }

    100% {
        box-shadow: 0 0 5px #fff;
    }
}

.home-main__social {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home-main__social-icon {
    margin-top: 5rem;
    cursor: pointer;
    border: 4px solid transparent;
}

.home-main__social-icon:hover {

    height: 64px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.home-main__social-icon-img {
    width: 64px;
    height: 64px;
}

.home-main__scroll-button {
    width: 40px;
    height: 40px;
    margin-top: 5rem;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.about-main {
    background-color: #F4F4F4;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Mukta', sans-serif;
    align-items: center;
}

.about-main__container {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}


.about-main__container-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.about-main__container-header-title-parenthesis {
    color: #0062b9;
    display: inline-block;
    animation: bendAnimation 2s ease-in-out infinite;
}

@keyframes bendAnimation {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }
}

.about-main__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.about-main__content-container--contact--header,
.about-main__container-skills-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-main__container-skills-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 40rem;
    margin-top: 1rem;
}

.about-main__container-header-title {
    font-size: 48px;
    font-weight: bold;
}

.about-main__container-header-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -2rem;
    color: #777;
    text-align: justify;
    max-width: 60rem;
}

.about-main__content-container--contact--link {
    padding: 0.8rem 2rem;
    background-color: #2E3440;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.about-main__content-container--contact--link:hover {
    background-color: #3B4252;
}

.about-main__container-skills-content-img {
    width: 64px;
    height: 64px;
}

.about-main__container-skills-content-img:hover {
    height: 64px;
    animation: pulse 1s infinite;
}

.about-main__container-skills-content-item {
    background-color: #0062b9;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

.about-main__content-container--contact--parragraph {
    text-align: justify;
    max-width: 30rem;
}

.about-main__container-skills-content-item:hover {
    background-color: #3B4252;
}

.projects-main {
    padding: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Mukta', sans-serif;
    align-items: center;
}

.projects-main__container {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.projects-main__container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.projects-main__container-header-title {
    font-size: 48px;
    font-weight: bold;
}

.projects-main__container-header-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -2rem;
    color: #777;
    text-align: justify;
    max-width: 60rem;
    margin-left: 2rem;
}

.projects-main__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-main__content-container {
    width: 300px;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.projects-main__container-header-title-parenthesis {
    color: #0062b9;
    display: inline-block;
    animation: bendAnimation 2s ease-in-out infinite;
}

.projects-main__content-container:hover {
    transform: scale(1.05);
}

.projects-main__content-image-container {
    margin-bottom: 1rem;
}

.projects-main__content-image {
    max-width: 100%;
}

.projects-main__content-info-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.projects-main__content--info--paragraph {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
    text-align: justify;
}

.projects-main__content-info-link {
    text-decoration: none;
    color: #0062b9;
    font-weight: bold;
}

.projects-main__content-info-link:hover {
    text-decoration: underline;
}

.contact-main {
    background-color: #f9f9f9;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Mukta', sans-serif;
    align-items: center;
}

.contact-main__container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}

.contact-main__container-header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-main__container-header-title-parenthesis {
    color: #0062b9;
    display: inline-block;
    animation: bendAnimation 2s ease-in-out infinite;
}

.contact-main__container-header-title {
    font-size: 48px;
    font-weight: bold;
}

.contact-main__container-header-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #777;
    max-width: 60rem;
    margin-top: -2rem;
    text-align: justify;
}

.contact-main__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
    padding: 2rem;
    background-color: #3B4252;
    border-radius: 8px;
    box-shadow: 0 0 10px #4C566A;
}

.contact-main__form-input-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;

}

.contact-main__form-label {
    font-weight: bold;
    color: #fff;
}

.contact-main__form-input,
.contact-main__form--textarea {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.contact-main__form-submit {
    padding: 0.8rem 2rem;
    background-color: #2E3440;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-main__form-submit:hover {
    background-color: #3B4252;
    animation: glowing 2s ease-in-out infinite;
}

.footer-main {
    background-color: #2E3440;
    padding: 2rem;
    text-align: center;
    color: #FFF;
    font-family: 'Mukta', sans-serif;
}

.footer-main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-main__container-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footer-main__container-top> :nth-child(2) {
    margin-top: -0.3rem;
}

.footer-main__container-top-col {
    flex: 1;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.footer-main__container-top-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-main__container-top-social {
    display: flex;
    justify-content: center;
}

.footer-main__container-top-social-icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

.footer-main__container-bottom-col {
    margin-top: 2rem;
}

.footer-main__container-bottom-col a {
    text-decoration: none;
    color: #333;
}

.footer-main__container-bottom-col a:hover {
    text-decoration: underline;
}

.footer-main__container-top-col--text {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: justify;
}

/* Media Queries */
@media screen and (max-width: 768px) {

    .navbar__content {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar__logo__img-container {
        width: 2.5rem;
        height: 2.5rem;
    }

    .navbar__logo__name {
        font-size: 1.2rem;
    }

    .navbar__links {
        display: none;
    }

    .navbar__item {
        margin-right: 0;
    }


    .navbar__menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #FFF;
        transition: color 0.3s;
    }

    .navbar__menu-icon__img {
        width: 25px;
        height: 25px;
        color: #FFF;
    }

    .navbar__links {
        display: none;
    }

    .navbar__menu-icon__toggle:checked~.navbar__links-container .navbar__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        list-style-type: square;
        color: #fff;
    }

    .home-main__content {
        margin-top: -5rem;
    }

    .home-main__scroll-button {
        display: none;
    }

    .home-main__social-icon {
        margin-top: -0.7rem;
    }

    .home-main__header {
        font-size: 40px;
        margin-top: 8rem;
    }

    .home-main__paragraph {
        font-size: 1.2rem;
        max-width: 30rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .about-main__container {
        margin-top: 0rem;
    }

    .projects-main__container {
        margin-top: 0rem;
    }

    .projects-main__container-header-text {
        margin-left: 2rem;
        margin-right: 2rem
    }


    .contact-main__container {
        margin-top: 0rem;

    }

    .contact-main__form-container {
        max-width: 60rem;
    }


    .contact-main__form-input {
        width: 80%;
    }

    .contact-main__form--textarea {
        width: 10%;
    }

    .footer-main__container-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-main__container-top-col--text {
        text-align: justify;
        margin-left: 2rem;
    }

    .footer-main__container-top-social {
        margin-left: 1rem;
    }

}